/node_modules
/public/hot
/public/storage
/storage/*.key
bootstrap/compiled.php
app/storage/
storage
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant
npm-debug.log
yarn-error.log

.idea/
.idea_modules/
public/debug.log
